@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";

.footnotes > ol > li {
  font-size: 12pt;
}
sup > a {
  font-size: 12pt;
  vertical-align: super;
}

